<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='login.css') }}">
    <link rel="shorcut icon" type="image/ico" href="https://i.pinimg.com/originals/34/0c/6a/340c6add7519212185a08d4205eb1965.png"/>
    <title>Delivery</title>
</head>
<body>
    <form method="post" action="/login">
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<div class="logo"></div>
<div class="login-block">
    <h1>Login</h1>
    <input type="text" value="{{request.form.username}}" placeholder="username" id="username" />
    <input type="password" value="{{request.form.userpassword}}" placeholder="password" id="userpassword" />
    <button type="submit" style="margin:5px;">Login</button>
</form><br>
 new user?<br>
<a href="/register">Register</a>

{% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}


      
</div>
</body>
</html>