body {
    background:url('https://images.unsplash.com/photo-1588079334114-1c211e85a527?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fHJlZCUyMGZvb2R8ZW58MHx8MHx8&w=1000&q=80') ;
    background-size: cover;
    font-family: Montserrat;
}


.login-block {
    width: 320px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    border-top: 5px solid #ff656c;
    margin: 0 auto;
}
.submit{
    text-align: center;
}

table{
    border-collapse: collapse;
}
th{
    background-color: #ff656c;
    color: black;
}
td{
    background-color: white;
    color: black;
}
th, td{
    width: 200px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}
.row_space{
    border-collapse: separate;
    border-spacing: 0 15px;
}
.login-block button {
    width: 100%;
    height: 40px;
    background: #ff656c;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #e15960;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    font-family: Montserrat;
    outline: none;
    cursor: pointer;
}

.login-block button:hover {
    background: #ff7b81;
}
